.page-header {
    color: rgb(0, 145, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
}

.page-paragraph {
    font-size: 20px;
    color: rgb(120, 0, 0);
    display: flexbox;

}

.page-button {
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    text-align: center;
}

.page-section {
    text-align: left;
}

.page-article {
    text-align: center;
    font-size: 20px;
    color: rgb(100, 3, 3);
}

.page-aside {
    display: block;
    width: 20%;
    margin-right: 15px;
    padding-right: 15px;
    float: right;

}

.page-quote {
    font-size: 24px;
    color: rgb(111, 11, 123);
}

.page-table, .table-caption {
    padding-left: 500px;
}

.aside-header {
    font-size: 20px;
    color: rgb(0,0,131);
    letter-spacing: 1px;
}

.aside-paragraph {
    color: rgb(12, 145, 133);
    font-size: 16px;

}

.article-paragraph {
    color: rgb(121, 34, 89);
    font-size: 16px;
}

.table-caption {
    text-align: center;
}

.table-column, .table-column-1, th {
    padding: 5px;
    border-style: solid;
    border-color: rgb(100, 0, 100);
    border-width: 10px;
}

.page-table {
    border-collapse: collapse;
    margin-left: 400px;
}

.table-header {
    text-align: center;
}

.page-details {
padding: 5px;
margin: 15px;
margin-left: 500px;
}

.details-header {
    text-align: center;

}

.details-paragraph {
    font-family: cursive;
    font-size: 40px;
    color: rgb(100, 100, 0);
}

.page-footer {
    text-align: center;
    font-size: 20px;
    color: rgb(11, 200, 100);
    padding: 100px;
}

.page-form {
    text-align: center;
    padding-top: 70px;
    color: rgb(144, 132,11);
}

.page-map {
    width: 100px;
    height: 300px;
}

.page-mark {
    background-color: rgb(123, 255, 111);
}

.page-meter {
    width: 400px;
    height: 50px;
}

.meter-label {
    font-size: 20px;
}

.page-bands {
    color: rgb(123, 111, 23);
}

.page-math {
    color: rgb(100, 150, 250);
    background-color: rgb(211, 111,23);
}

s {
    text-decoration: line-through;
    text-decoration-color: rgb(222, 0, 123);
}

#myDiv {
    width: 300px;
    height: 200px;
    background: rgb(255, 0, 0);
    animation: mymove 5s infinite;
}

@keyframes mymove {
    from {background-color: rgb(255, 0, 0)}
    to {background-color: rgb(0, 0, 255);}
}

.page-fieldset {
    background-color: rgba(120, 255, 255);
    border: 2px solid rgb(123, 23, 111);
}

.second-page-div {
    width: 100px;
    height:100px;
    background-color:rgba(111, 11, 123, 0.5);
}
.third-page-div {
    width: 500px;
    height: 200px;
    background-image: linear-gradient(rgb(255, 0, 0), rgb(255, 255, 0));
}

.fourth-page-div {
    width: 1000px;
    height: 300px;
    background-image: repeating-radial-gradient(rgb(0,0,255), rgb(255, 0, 0) 10%, rgb(0, 255, 0) 20%);
}

.fifth-page-div {
    width: 200px;
    height: 200px;
    background-image: repeating-conic-gradient(rgb(255, 0, 0) 10%, rgb(255,255, 0) 20%);
    border-radius: 50%;
}

.page-shadow-paragraph {
    font-size: 30px;
    color: rgb(100,100,100);
    text-shadow: 1px 1px 2px rgb(190, 15, 90), 0px 0px 2px rgb(0,0,0);
}

.page-box-div {
    box-sizing: border-box;
    border: 1px solid rgb(211, 111,23);
    padding: 10px;
    box-shadow: -4px -4px rgb(0, 123, 123), -8px -8px rgb(123, 50, 123), -12px -12px rgb(255, 0, 123);
}

.page-div-columns {
    column-count: 3;
    column-gap: 20px;
    column-rule: 4px double  rgb(0, 123, 123);
    
}

.page-font-div {
    font-stretch: ultra-expanded;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

.page-font-div-1 {
    font-stretch: ultra-condensed;
    font-style: oblique;
    font-weight: 200;
    font-variant: small-caps;
}

.puppy-picture, .puppy-picture-1 {
    image-rendering: smooth;
    mix-blend-mode: luminosity;
}

.page-image-div {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(0, 0, 255);
}

.animation-div-1 {
    width:100px;
    height: 100px;
    background: rgb(255, 0, 0);
    position: relative;
    animation: moves 5s infinite;
}

@keyframes moves {
    0% {top: 0px; left: 0px; background: rgb(255, 0, 0);}
    25% {top: 0px; left: 100px; background: rgb(0, 0, 255);}
    50% {top: 100px; left: 100px; background: rgb(255, 255, 0);}
    75% {top: 100px; left: 0px; background: rgb(0, 255, 0);}
    100% {top: 0px; left: 0px; background: rgb(255, 0, 0);}
    
}

.image-div {
    padding: 100px;
}

.image-a {
    width: 200px;
    height: 400px;
    object-fit: none;
    object-position: 10px 20%;
}

.main-div {
    width: 400px;
    height: 200px;
    border: 2px solid rgb(255, 123, 123);
    display: flex;
}

.first-div, .second-div, .third-div, .fourth-div {
    width: 50px;
    height: 60px;
}

.first-div {
    background-color: rgb(255, 0, 0);
    order: 4;
}

.second-div {
    background-color: rgb(0, 0, 255);
    order: 2;
}

.third-div {
    background-color: rgb(0, 255, 0);
    order: 3;
}

.fourth-div {
    background-color: rgb(255, 255, 0);
    order: 1;
}
